parte2-fog-cloud-mqtt/node-red-flow.json
[
    {
        "id": "cardioia_tab",
        "type": "tab",
        "label": "CardioIA - Monitoramento",
        "disabled": false,
        "info": "Dashboard de monitoramento cardiologico do projeto CardioIA - Fase 3."
    },
    {
        "id": "mqtt_broker_hivemq",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": { "default": "#0094CE", "baseColor": "#0094CE", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif", "edited": true, "reset": false },
            "darkTheme": { "default": "#097479", "baseColor": "#097479", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif", "edited": true, "reset": false },
            "customTheme": { "name": "Untitled Theme 1", "default": "#4B7930", "baseColor": "#4B7930", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif" },
            "themeState": {
                "base-color": { "default": "#097479", "value": "#097479", "edited": false },
                "page-titlebar-backgroundColor": { "value": "#097479", "edited": false },
                "page-backgroundColor": { "value": "#111111", "edited": false },
                "page-sidebar-backgroundColor": { "value": "#000000", "edited": false },
                "group-textColor": { "value": "#0eb8c0", "edited": false },
                "group-borderColor": { "value": "#555555", "edited": false },
                "group-backgroundColor": { "value": "#333333", "edited": false },
                "widget-textColor": { "value": "#eeeeee", "edited": false },
                "widget-backgroundColor": { "value": "#097479", "edited": false },
                "widget-borderColor": { "value": "#333333", "edited": false },
                "base-font": { "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif" }
            },
            "angularTheme": { "primary": "indigo", "accents": "blue", "warn": "red", "background": "grey", "palette": "dark" }
        },
        "site": { "name": "CardioIA Dashboard", "hideToolbar": "false", "allowSwipe": "false", "lockMenu": "false", "allowTempTheme": "true", "dateFormat": "DD/MM/YYYY", "sizes": { "sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0 } }
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Paciente",
        "icon": "favorite",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_vitals",
        "type": "ui_group",
        "name": "Sinais Vitais",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_alerts",
        "type": "ui_group",
        "name": "Status Clinico",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt_in_telemetry",
        "type": "mqtt in",
        "z": "cardioia_tab",
        "name": "ESP32 telemetry",
        "topic": "cardioia/cardioia-001/telemetry",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_hivemq",
        "x": 130,
        "y": 80,
        "wires": [["fn_split"]]
    },
    {
        "id": "mqtt_in_alert",
        "type": "mqtt in",
        "z": "cardioia_tab",
        "name": "ESP32 alert",
        "topic": "cardioia/cardioia-001/alert",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_hivemq",
        "x": 120,
        "y": 460,
        "wires": [["fn_alert_text"]]
    },
    {
        "id": "fn_split",
        "type": "function",
        "z": "cardioia_tab",
        "name": "Divide payload",
        "func": "// Recebe { ts, temperature, humidity, bpm, alert }\nconst p = msg.payload;\nconst bpm   = { payload: p.bpm,         topic: 'BPM' };\nconst temp  = { payload: p.temperature, topic: 'Temperatura (C)' };\nconst hum   = { payload: p.humidity,    topic: 'Umidade (%)' };\nconst flag  = { payload: p.alert };\nreturn [bpm, temp, hum, flag];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 80,
        "wires": [
            ["chart_bpm","gauge_bpm","fn_threshold_bpm"],
            ["chart_temp","gauge_temp","fn_threshold_temp"],
            ["gauge_hum"],
            ["ui_led_alert"]
        ]
    },
    {
        "id": "chart_bpm",
        "type": "ui_chart",
        "z": "cardioia_tab",
        "name": "Grafico BPM",
        "group": "ui_group_vitals",
        "order": 1,
        "width": "12",
        "height": "5",
        "label": "Batimentos cardiacos (BPM)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "aguardando ESP32...",
        "dot": false,
        "ymin": "30",
        "ymax": "180",
        "removeOlder": "10",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff5252","#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 40,
        "wires": [[]]
    },
    {
        "id": "gauge_bpm",
        "type": "ui_gauge",
        "z": "cardioia_tab",
        "name": "Gauge BPM",
        "group": "ui_group_vitals",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "BPM",
        "label": "bpm",
        "format": "{{value}}",
        "min": "30",
        "max": "180",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "60",
        "seg2": "120",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "cardioia_tab",
        "name": "Grafico Temperatura",
        "group": "ui_group_vitals",
        "order": 3,
        "width": "8",
        "height": "5",
        "label": "Temperatura Corporal (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "aguardando ESP32...",
        "dot": false,
        "ymin": "25",
        "ymax": "42",
        "removeOlder": "10",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ffa500","#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "cardioia_tab",
        "name": "Gauge Temp",
        "group": "ui_group_vitals",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}}",
        "min": "25",
        "max": "42",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "37",
        "seg2": "38",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "gauge_hum",
        "type": "ui_gauge",
        "z": "cardioia_tab",
        "name": "Gauge Umidade",
        "group": "ui_group_vitals",
        "order": 5,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "60",
        "seg2": "85",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "ui_led_alert",
        "type": "ui_text",
        "z": "cardioia_tab",
        "group": "ui_group_alerts",
        "order": 1,
        "width": "12",
        "height": "2",
        "name": "LED Alerta",
        "label": "Estado",
        "format": "<div style=\"text-align:center;font-size:28px;font-weight:bold;color:{{(msg.payload?'#ff0033':'#00cc66')}}\">{{msg.payload ? '⚠ ALERTA CLINICO' : '✓ PACIENTE ESTÁVEL'}}</div>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#ffffff",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "fn_threshold_bpm",
        "type": "function",
        "z": "cardioia_tab",
        "name": "Limites BPM",
        "func": "const v = Number(msg.payload);\nif (v > 120) {\n  return { payload: 'Taquicardia detectada: ' + v + ' bpm', topic: 'BPM' };\n}\nif (v < 40 && v > 0) {\n  return { payload: 'Bradicardia detectada: ' + v + ' bpm', topic: 'BPM' };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 420,
        "wires": [["ui_notification"]]
    },
    {
        "id": "fn_threshold_temp",
        "type": "function",
        "z": "cardioia_tab",
        "name": "Limites Temp",
        "func": "const v = Number(msg.payload);\nif (v > 38) {\n  return { payload: 'Febre detectada: ' + v.toFixed(1) + ' °C', topic: 'TEMP' };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 460,
        "wires": [["ui_notification"]]
    },
    {
        "id": "fn_alert_text",
        "type": "function",
        "z": "cardioia_tab",
        "name": "Formata alerta MQTT",
        "func": "const a = msg.payload;\nreturn { payload: 'Alerta do dispositivo ' + a.device + ': ' + a.reason };",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 460,
        "wires": [["ui_notification","debug_alert"]]
    },
    {
        "id": "ui_notification",
        "type": "ui_toast",
        "z": "cardioia_tab",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "CardioIA",
        "name": "Notificacao",
        "x": 820,
        "y": 460,
        "wires": []
    },
    {
        "id": "debug_alert",
        "type": "debug",
        "z": "cardioia_tab",
        "name": "log alerta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "inject_test",
        "type": "inject",
        "z": "cardioia_tab",
        "name": "Teste sem ESP32",
        "props": [{ "p": "payload" },{ "p": "topic", "vt": "str" }],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cardioia/cardioia-001/telemetry",
        "payload": "{\"device\":\"cardioia-001\",\"ts\":0,\"temperature\":37.2,\"humidity\":60,\"bpm\":85,\"alert\":false}",
        "payloadType": "json",
        "x": 130,
        "y": 160,
        "wires": [["fn_split"]]
    }
]
